@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600&display=swap");

body button {
  font-family: "Radio Canada", sans-serif;
  font-weight: 300;
  font-size: medium;
}
a {
  text-decoration: none;
}

/**********/
/* Header */
/**********/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 1vh;
}
.header-link-cont,
.header-home-cont {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-home-cont a {
  color: black;
  font-size: large;
  font-weight: 500;
  margin: 0 1.5vh;
}
.header-list {
  display: flex;
}
.header-list-item {
  margin: 0 1.5vh;
  display: flex;
  align-items: center;
}
.header-list-item a {
  color: black;
}
.header-btn {
  background: none;
  border: none;
  font: inherit;
}
.header-btn:hover {
  cursor: pointer;
}

/**********/
/* Footer */
/**********/

footer {
  height: 4vh;
  min-height: 30px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github-icon {
  height: 100%;
}

/************/
/* PostTile */
/************/

.post-tiles-cont {
  display: flex;
  flex-direction: column;
  margin: 2vh;
}
.post-tile-cont {
  position: relative;
  margin: 2vh 2vh;
  height: 10vh;
  max-height: 75px;
  min-height: 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 0;
}
.post-tile-cont :first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vh;
}
.post-tile-cont:hover .post-tile-btn-cont {
  display: block;
}
.post-tile-title {
  color: black;
  font-weight: 600;
  font-size: larger;
}
.post-tile-text {
  color: rgba(0, 0, 0, 0.76);
  align-self: flex-start;
  padding-left: 2vw;
}
.post-tile-btn-cont {
  position: absolute;
  top: 3px;
  right: 4px;
  display: none;
}
.post-tile-btn:hover {
  cursor: crosshair;
}
/* react-confirm-alert button */
.react-confirm-alert-button-group :first-child {
  background-color: red;
}

/********/
/* Post */
/********/

.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-cont {
  width: 95%;
  margin-bottom: 2vh;
}
.post-title-cont {
  position: relative;
  display: flex;
  justify-content: center;
  height: 4vh;
  min-height: 30px;
}
.post-title {
  display: flex;
  justify-self: center;
  align-items: center;
}
.post-edit-cont {
  position: absolute;
  top: 5px;
  right: 5px;
}
.post-edit-btn {
  font: inherit;
  cursor: pointer;
}
.post-comment-cont {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

/***************/
/* CommentForm */
/***************/

.comment-form-cont {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: .5vh 0;
}
.add-comment-btn, .submit-comment-btn {
  cursor: pointer;
  font: inherit;
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.comment-text {
  width: 60vw;
  height: 10vh;
}

/***************/
/* CommentTile */
/***************/





/*********/
/* Login */
/*********/

/************/
/* Register */
/************/
