@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600&display=swap");

body button {
  font-family: "Radio Canada", sans-serif;
  font-weight: 300;
  font-size: medium;
}
a {
  text-decoration: none;
}

/**********/
/* Header */
/**********/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 1vh;
}
.header-link-cont, .header-home-cont {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-home-cont a {
  color: black;
  font-size: large;
  font-weight: 500;
  margin: 0 1.5vh;
}
.header-list {
  display: flex;
}
.header-list-item {
  margin: 0 1.5vh;
  display: flex;
  align-items: center;
}
.header-list-item a {
  color: black;
}
.header-btn {
  background: none;
  border: none;
  font: inherit;
}
.header-btn:hover {
  cursor: pointer;
}

/**********/
/* Footer */
/**********/

footer {
  height: 4vh;
  min-height: 30px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github-icon {
  height: 100%;
}

/* react-confirm-alert button */
.react-confirm-alert-button-group :first-child {
  background-color: red;
}
